@mixin Open-sans($font-size: 12px, $color: #fff, $line-height: 24px, $font-weight:400) {
    font-family: "Open Sans";
    font-size: $font-size;
    color: $color;
    font-weight: $font-weight;
    line-height: $line-height;
}

@mixin Open-sans__regular() {
    color: $COLOR_WHITE;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
}

@mixin Playfair ($font-size: 16px, $color:$COLOR_BLACK_2, $font-style: normal, $line-height:24px) {
    font-family: 'Playfair Display SC', serif;
    font-size: $font-size;
    color: $color;
    font-weight: 700;
    line-height: $line-height;
    font-style: $font-style
}