$COLOR_WHITE: #ffffff;
$COLOR_WHITE_2: #fefefe;
$COLOR_WHITE_3: #fffefe;
$COLOR_BLACK: #000000;
$COLOR_BLACK_2: #020202;
$COLOR_BLACK_3: #353436;
$COLOR_1: #e2d1a6;
$COLOR_GREY: #8c8c8c;
$COLOR_GREY_2: #b5b4b4;