body,
html {
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.button {
  text-transform: uppercase;
  border: none;
  font-family: "Open Sans";
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 24px;
  background: #000000;
}

header {
  background: #353436;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 132px;
  padding: 0 40px;
}

.reserved-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1px 0px;
  font-family: "Open Sans";
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 24px;
}

.reserved-area__text {
  margin: 0;
  padding-right: 10px;
}

.reserved-area:hover {
  color: #e2d1a6;
}

.reserved-area:active {
  text-decoration: underline;
}

.logo {
  position: absolute;
  top: 24px;
  left: 40px;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 464px;
  padding: 22px 0px;
  margin: 0;
}

.navBar__item {
  position: relative;
  height: 100%;
  list-style: none;
}

.navBar__item:hover .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navBar__item:active {
  text-decoration: underline;
}

.navBar__item:focus {
  color: yellow;
}

.navBar:focus {
  color: yellow;
}

.link {
  text-transform: uppercase;
  line-height: 24px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  line-height: -height;
}

.link:hover {
  height: 13px;
  font-family: "Open Sans";
  font-size: 18px;
  color: #e2d1a6;
  font-weight: 700;
  line-height: -height;
}

.link:active {
  text-decoration: underline;
}

.submenu {
  position: absolute;
  top: 20px;
  left: -18px;
  display: none;
  z-index: 1;
  background-color: #353436;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px 8px 15px;
}

.submenu__item {
  width: 100%;
  list-style-type: none;
}

.submenu__link {
  padding-left: 8px;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 16px;
  color: #fffefe;
  font-weight: 400;
  line-height: 24px;
}

.submenu__link:hover {
  color: #e2d1a6;
}

.submenu__hr {
  width: calc(100% - 2px);
}

.slider-container {
  height: 85vh;
  width: 100%;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item_1,
.item__img {
  height: 100vh;
  width: 100vw;
}

.left-control {
  left: 0;
}

.rigth-control {
  right: 0;
}

.left-control,
.rigth-control {
  position: absolute;
  height: 100%;
  width: 100px;
}

.left-control:hover,
.rigth-control:hover {
  background: rgba(0, 0, 0, 0.2);
}

.container_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  left: 0px;
  top: 0px;
}

.slider-row-dots {
  padding-bottom: 38px;
  bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-row-dots__dot {
  width: 15px;
  height: 14px;
  cursor: pointer;
  border-radius: 50%;
  margin: 5px;
  z-index: 0;
  background-color: #fff;
  border: 2px solid #000000;
}

.slider-row-dots .active {
  background-color: #e2d1a6;
}

.label {
  position: absolute;
  left: 58%;
  right: 0px;
  top: 53%;
  opacity: 0.85;
  background: #ffffff;
  height: 138px;
}

.title-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 18px 42px 18px 30px;
  max-width: 460px;
}

.title-case__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  margin: 0;
  font-family: 'Playfair Display SC', serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  font-style: italic;
}

.title-case__subtitle {
  margin: 0;
  font-family: "Open Sans";
  font-size: 18px;
  color: #000000;
  font-weight: 400;
  line-height: 24px;
}

main {
  position: relative;
}

.dropdown-menu {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  max-width: 1280px;
}

.dropdown-menu__control {
  width: 84px;
  height: 28px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-menu__content {
  max-width: 1280px;
  margin: 0 40px;
}

.tile-containet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 20px 8px 15px;
}

.tile__title {
  margin: 0;
  padding-bottom: 15px;
  font-family: 'Playfair Display SC', serif;
  font-size: 28px;
  color: #000000;
  font-weight: 700;
  line-height: 30px;
}

.tile__title_white {
  color: #ffffff;
}

.tile__text {
  margin: 0;
  padding-bottom: 18px;
  font-family: "Open Sans";
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  line-height: 25px;
}

.tile__text_white {
  color: #fefefe;
}

.tile__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 18px;
  color: #000000;
  font-weight: 400;
  line-height: 25px;
}

.tile__details:hover {
  text-decoration: underline;
}

.tile__details_white {
  color: #ffffff;
}

.number-font {
  font-family: "Open San";
}

.tile_col {
  background-color: #e2d1a6;
}

.title_white {
  background-color: #ffffff;
}

.tile_black {
  background-color: #000000;
}

footer {
  position: relative;
  background: #353436;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 930px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0 22px;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 15px;
  max-width: 189px;
  color: white;
}

.column__title {
  padding-bottom: 20px;
  margin: 0;
  font-family: 'Playfair Display SC', serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
  text-transform: uppercase;
}

.column__text {
  margin: 0;
  max-width: 189px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 300;
  line-height: 17px;
}

.form {
  max-width: 184px;
}

.form__title {
  margin: 0;
  padding-bottom: 16px;
  font-family: 'Playfair Display SC', serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  line-height: -height;
  font-style: -style;
}

.form__input {
  width: calc(100% - 12px);
  height: 32px;
  padding: 0 6px;
  margin-bottom: 12px;
  font-family: "Open Sans";
  font-size: 14px;
  color: #000000;
  font-weight: 300;
  line-height: 18px;
}

.form__input::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-size: 14px;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 18px;
}

.form__input:-ms-input-placeholder {
  font-family: "Open Sans";
  font-size: 14px;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 18px;
}

.form__input::-ms-input-placeholder {
  font-family: "Open Sans";
  font-size: 14px;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 18px;
}

.form__input::placeholder {
  font-family: "Open Sans";
  font-size: 14px;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 18px;
}

.form__input::-moz-placeholder {
  color: #020202;
  line-height: 32px;
  height: 32px;
}

.form__input:active {
  text-decoration: underline;
}

.form__input:focus {
  border-bottom: 2px solid yellow;
}

.check-box-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.check-box-case:hover .check-box-case__description {
  color: #e2d1a6;
}

.check-box-case__input {
  width: 8px;
  height: 8px;
}

.check-box-case__description {
  padding: 0 6px;
  font-family: "Open Sans";
  font-size: 10px;
  color: #b5b4b4;
  font-weight: 400;
  line-height: 10px;
}

.button-in-form {
  width: 100%;
  height: 32px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.button-in-form:active {
  background: #e2d1a6;
  top: 2px;
}

.button-in-form:hover {
  background: #e2d1a6;
}

.button-in-form__forgot-password {
  padding-top: 12px;
  cursor: pointer;
  margin: 0;
  font-family: "Open Sans";
  font-size: 12px;
  color: #b5b4b4;
  font-weight: 400;
  line-height: 10px;
}

.button-in-form__forgot-password:hover {
  color: #e2d1a6;
}

.bottom-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 40px 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 703px;
  width: 100%;
}

.info__item {
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  line-height: 24px;
  margin: 0 5px;
}

.info__item:hover {
  color: #e2d1a6;
}

.info__item:active {
  text-decoration: underline;
}

.info__item:focus {
  color: yellow;
}

.social-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 70px;
  margin: 0 10px;
  width: 100%;
}

.social-case img:hover {
  -webkit-transform: scale(2);
  transform: scale(1);
  height: 22px;
}

.social-case__item {
  cursor: pointer;
}

.language-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 160px;
  width: 100%;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  line-height: 24px;
}

.language-case__item {
  cursor: pointer;
  margin: 0 10px;
}

.language-case__item:hover {
  color: #e2d1a6;
}

.language-case__item:active {
  text-decoration: underline;
}

.language-case__item:focus {
  color: yellow;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0px;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100vh;
}

.modal_activ {
  display: block;
}

.registration-area {
  width: calc(596px - 154px);
  border: 1px solid #ffffff;
  background-color: #353436;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -660px;
  left: calc(50% - 596px/2);
  z-index: 2;
  padding: 15px 77px 27px;
  transition: top 1s cubic-bezier(0, 0, 1, 1);
  -webkit-transition: top 1s cubic-bezier(0, 0, 1, 1);
  -moz-transition: top 1s cubic-bezier(0, 0, 1, 1);
}

.registration-area__title {
  text-transform: uppercase;
  padding-bottom: 27px;
  margin: 0;
  font-family: 'Playfair Display SC', serif;
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  line-height: -height;
  font-style: -style;
}

.registration-area__content {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration-area__close {
  position: absolute;
  top: 13px;
  right: 18px;
  cursor: pointer;
}

.registration-area_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 258px;
}

@media only screen and (max-width: 1270px) {
  .title-case__title {
    padding-bottom: 20px;
    font-size: 20px;
  }
  .title-case__subtitle {
    font-size: 14px;
  }
}

@media only screen and (max-width: 910px) {
  .label {
    left: 50%;
  }
  .offer-description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .column__title {
    padding-top: 15px;
    padding-bottom: 7px;
  }
}

@media only screen and (max-width: 770px) {
  .navBar {
    width: 330px;
  }
  .link {
    font-family: "Open Sans";
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    line-height: -height;
  }
  .link:hover {
    height: 13px;
    font-family: "Open Sans";
    font-size: 12px;
    color: #e2d1a6;
    font-weight: 700;
    line-height: -height;
  }
  .label {
    height: 100px;
  }
  .title-case__subtitle {
    display: none;
  }
  .tile__title {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .tile__text {
    font-size: 12px;
  }
  .tile__details {
    font-size: 12px;
  }
  .info {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .header {
    padding: 0 10px;
  }
  .logo {
    left: 10px;
  }
  .registration-area {
    width: 250px;
    padding: 15px 30px 10px;
    left: calc(50% - 312px/2);
  }
  .registration-area__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .logo {
    display: none;
  }
  .header {
    height: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navBar {
    width: 100%;
  }
  .link {
    margin-left: 10px;
  }
  .dropdown-menu {
    display: none;
  }
  .label {
    left: 0px;
  }
  .title-case {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */